# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# Virtual environments
.venv/
venv/
env/

# Environments
.env
.venv
*.egg-info/

# Logs
*.log
slurm-*.out
slurm-*.err

# Data (ignore raw datasets)
data/
datasets/
*.csv
*.tsv
*.h5
*.npy
*.npz
*.pt
*.pth
*.ckpt
*.tar.gz
*.zip
*.parquet
*.pickle

# Checkpoints & outputs
checkpoints/
*.ckpt
*.pt
*.pth

outputs/
lightning_logs/

# Temporary
*.tmp
*.bak
.DS_Store

# Experiment outputs
test_results/
wandb/